body{
  overflow-x: hidden;
}
.container{
  overflow-x: hidden;
  overflow-y: hidden;
}
.adi {
  font-family: "Silkscreen", sans-serif;
  animation: fadeInUp 2s ease-out;
  font-size: 1.8em;
}

.navbar-brand {
  font-family: "Pirata One", system-ui;
}

p{
  font-family: "Cabin", sans-serif;
}

p.h4{
  font-family: "Stick No Bills", sans-serif;
  text-transform: uppercase;

}

.jumbotron {
  
}



.css{
  
  color: #0c72ba;
}
.html{
  color: #e75128;
}


.active{
  color: #d2b48c !important;
  background: linear-gradient(to right, #b0c4de, #c0c0c0);
  border-radius: 10px;
  transition: background .3s ease-in-out !important;
  box-shadow: 0.7px 0.7px 0.7px rgba(0,0,0,0.5);
}


nav{
 background: tranparent;
}
nav .container a {
  color: white;
}
nav a:hover{
 color: #d2b48c !important;
}
nav.scrolled{
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

nav.scrolled .container a{
  transition: color 0.3s ease-in-out;
  color: black ;
}

nav.scrolled .container a:hover{
  transition: color 0.3s ease-in-out;
  color: #d2b48c !important;
}

.nav-item{
  margin:5px;
}
nav{
  text-shadow: 0.6px 0.6px 0.6px rgba(0,0,0,0.5);
}

#typed-text {
  font-family: "Staatliches", sans-serif;
  letter-spacing: 2px;
  font-size: 1.3em;
  animation: fadeInUp 1.5s ease-out;
  margin-top: -10px;
}
button .navbar-toggler-icon{
  color: white;
}
#about{
  
}
.svg1{
  position: relative;
  top: -70px;
  box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.3);
}

.hero{
  min-width: 220px;
}

.portfolio{
    background-color: #FFB0B0;
    margin-top: -2px;
}

.about-me{
  margin-bottom: 100px;
}
.card1{
  margin-bottom: 50px;
}
.my-project-h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2{
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize !important;
  margin-top:10px !important;
}
.tentang-saya{
  font-family: "Calligraffitti", cursive;
  letter-spacing: 1px;
  text-transform: capitalize !important;
  margin-top:10px !important;
}
.progress-bar{
  font-family: "Nova Mono", monospace;
}

.skill-text{
  font-family: "Secular One", sans-serif;
}

.contact-me{
  background-color: #FFB0B0;
  margin-top: -2px;
}
.contact-me label{
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}


.cont-skills{
  background-color: #1b3b5c;
  border-radius: 10px;
  padding: 20px;
  color: white;
  box-shadow: 5px 5px 5px 
  rgba(0, 0, 0, 0.3);
}

.btn-kirim{
  box-shadow: 2px 2px 2px 
  rgba(0, 0, 0, 0.3);
}



    body, html {
      height: 100%;
    }
    .parallax {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 24%2c 47%2c 1)'%3e%3c/rect%3e%3cpath d='M1014.4741385153258 448.7257631774112L1021.2935842799382 318.6029864082924 891.1708075108194 311.78354064368 884.351361746207 441.9063174127988z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M369.24867617920984 543.7016369403239L358.80768627265775 392.31535439883334 247.55821136637582 464.5616081422087z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M709.2966216704448 427.83046717769093L617.673458683921 350.949504908403 540.7924964146331 442.5726678949268 632.4156594011569 519.4536301642147z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1210.491%2c420.178C1258.401%2c421.39%2c1309.198%2c408.189%2c1333.626%2c366.957C1358.425%2c325.099%2c1344.864%2c274.41%2c1322.431%2c231.237C1297.567%2c183.385%2c1264.388%2c131.742%2c1210.491%2c129.982C1154.648%2c128.159%2c1109.648%2c173.283%2c1085.133%2c223.49C1063.489%2c267.816%2c1071.182%2c319.391%2c1097.694%2c360.989C1122.154%2c399.367%2c1164.996%2c419.027%2c1210.491%2c420.178' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1113.814%2c363.089C1128.642%2c362.791%2c1142.948%2c356.141%2c1150.28%2c343.249C1157.538%2c330.489%2c1155.932%2c314.828%2c1148.445%2c302.201C1141.117%2c289.841%2c1128.183%2c281.851%2c1113.814%2c281.748C1099.265%2c281.643%2c1085.98%2c289.334%2c1078.31%2c301.697C1070.17%2c314.818%2c1066.99%2c331.399%2c1074.72%2c344.766C1082.442%2c358.119%2c1098.392%2c363.399%2c1113.814%2c363.089' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M187.00210697591763 121.43854844994786L71.44931308522072 215.01135593370782 165.02212056898065 330.5641498244047 280.5749144596776 236.99134234064476z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M32.39263907878376 568.595099189462L174.62528614796207 581.0388433912988 187.06903034979888 438.80619632212046 44.83638328062056 426.36245212028365z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M151.13840886514805 103.04263326825026L136.76055929761904 220.14082103551118 253.85874706488 234.5186706030402 268.236596632409 117.42048283577927z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M963.4002225271634 58.70869026242668L866.211464124673 220.1093271704324 1030.8052916497722 225.8570702812009z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1115.779652728304 498.99444946355726L1070.8767098055923 459.96091669192504 1034.7778821094998 546.8320974618085z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1473.176739572679 336.9496084506276L1459.8950987874914 209.41416556049663 1368.0772021953483 273.70574889687487z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1333.601420921804-37.27455658131337L1229.6284728650337 86.63557779795369 1353.538607244301 190.6085258547239 1457.511555301071 66.69839147545682z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M387.694%2c36.127C406.035%2c35.927%2c425.017%2c29.776%2c433.889%2c13.723C442.543%2c-1.935%2c436.013%2c-20.195%2c427.528%2c-35.945C418.422%2c-52.848%2c406.88%2c-71.293%2c387.694%2c-72.021C367.679%2c-72.78%2c351.951%2c-56.707%2c342.26%2c-39.179C332.927%2c-22.299%2c329.756%2c-1.764%2c339.72%2c14.751C349.413%2c30.817%2c368.931%2c36.332%2c387.694%2c36.127' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M610.462627565765 599.3215606835672L599.5214605254508 440.68309634990874 482.9425634102414 516.3903173431171z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M86.95103808738912 154.60306506928782L235.89544181135744 88.28874401520159 169.5811207572712-60.655659708766734 20.636717033302887 5.658661345319501z' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M867.714%2c297.912C902.695%2c298.665%2c940.154%2c293.573%2c959.821%2c264.635C981.732%2c232.396%2c983.731%2c189.483%2c964.415%2c155.626C944.94%2c121.491%2c906.999%2c102.099%2c867.714%2c103.19C830.212%2c104.231%2c797.772%2c127.771%2c779.886%2c160.749C762.838%2c192.183%2c762.945%2c230.698%2c782.228%2c260.812C800.181%2c288.85%2c834.429%2c297.196%2c867.714%2c297.912' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M213.482%2c208.042C240.166%2c209.285%2c263.297%2c190.993%2c276.469%2c167.753C289.447%2c144.856%2c290.711%2c117.182%2c278.064%2c94.101C264.904%2c70.083%2c240.861%2c52.119%2c213.482%2c52.801C187.045%2c53.46%2c165.864%2c73.431%2c154.243%2c97.186C143.978%2c118.168%2c148.894%2c141.72%2c159.903%2c162.321C171.763%2c184.515%2c188.345%2c206.871%2c213.482%2c208.042' fill='rgba(66%2c 112%2c 161%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");/* Hero Image URL */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
    }


    .footer {
      background-color: #02182f;
      color: white;
      text-align: center;
      padding: 20px 0;
      margin-top: -2px;
    }
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    /* Styles for progress bars */
    .progress-bar {
        width: 100%;
        background-color: #f0f0f0;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 1px 1px 1px
rgba(0, 0, 0, 0.3);
line-height: 20px;
    }

    .progress-bar-fill-html{
        background-color: #e75128;
        height: 20px;
        animation: progressAnimation 2s ease-in-out ;
        width:95% ;
        box-shadow: 1px 1px 1px 
  rgba(0, 0, 0, 0.3);
  line-height: 20px;
    }
      .progress-bar-fill-css {
        background-color: #0c72ba;
        height: 20px;
        animation: progressAnimation 2s ease-in-out;
        box-shadow: 1px 1px 1px 
  rgba(0, 0, 0, 0.3);
  line-height: 20px;
    
    }
      .progress-bar-fill-js {
        background-color: #e9a327;
        height: 20px;
        animation: progressAnimation 2s ease-in-out;
        box-shadow: 1px 1px 1px 
  rgba(0, 0, 0, 0.3);
        line-height: 20px;
    }
      .progress-bar-fill-php {
        background-color: #777cb5;
        height: 20px;
        animation: progressAnimation 2s ease-in-out;
        box-shadow: 1px 1px 1px 
  rgba(0, 0, 0, 0.3);
  line-height: 20px;
    }

    /* Keyframes for animation */
    @keyframes progressAnimation {
        0% { width: 0; }
    }

    /* Styles for skill bars */
    .skill-bar {
        margin-bottom: 15px;
    }

    .skill-label {
        font-weight: bold;
    }

    /* JS styles for hiding progress until it's visible */
    .hidden {
        opacity: 0;
    }

    .visible {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    
    
    
    @media (min-width: 476px){
      .svg1{
        position: relative;
       top: -100px;
      }
    }
    @media (min-width: 576px){
      .svg1{
        position: relative;
       top: -125px;
      }

    }
    
    @media (min-width: 768px){
      .svg1{
        position: relative;
       top: -150px;
      }
      
    }
    
    @media (min-width: 1024px){
      .svg1{
        position: relative;
       top: -200px;
      }
    }
    
      @media (min-width: 1140px){
      .svg1{
      position: relative;
       top: -240px;
      }
    }
    
      @media (min-width: 1320px){
      .svg1{
       position: relative;
       top: -275px;
      }
      
    }
    
@media (max-width:576px){
        .hero{

        min-width: 200px;

        }
        #typed-text {
          font-size: 1em;
        }
        .adi {

          font-size: 2em;
          
        }
}

@media (max-width:768px){
        .hero{
        min-width: 230px;
        }
        #typed-text {
          font-size: 1.2em;
        }
        .adi {
          font-size: 2.2em;
        }
}

.img-card{
    background-image: url(img/Screenshot\ 2024-04-23\ 205006.png);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
  }
.img-card2{
    background-image: url(img/allpost.png);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
  }
.img-card3{
    background-image: url(img/category.png);
    background-size: cover;
    min-height: 50vh;
    background-position-x:-180px ;
  }
.img-card4{
    background-image: url(img/dashbord_post.png);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
  }
.img-card5{
    background-image: url(img/login.png);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
  }
.img-card6{
    background-image: url(img/post_category.png);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
  }
.img-card7{
    background-image: url(img/register.png);
    background-size: cover;
    min-height: 50vh;
    background-position: center;
  }

  .centered-text {
    text-align: center; /* Hanya jika Anda ingin teks juga di tengah secara horizontal di dalam elemen */
    font-size: 4em;
    font-family: "Protest Guerrilla", sans-serif;
    background-image: url('img/gambar-text3.jpg');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(10px 10px 10px rgba(14, 80, 134, 0.5));
}
.project{
  margin-top: -100px;
}
